.footerBoard {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-bottom: 50px;
  flex-direction: column;
}

.footerBoard > span:nth-child(2) {
  font-size: 0.8rem;
  margin-top: 20px;
  width: 70%;
}
